@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
    <div class="text-center">
        <h1 class="display-4">Kantinens Menu for uge 45</h1>
        <table>
            <tr>
                <th>Navn</th>
                <th>Email</th>
                <th>Telefonnummer</th>
            </tr>
            <tr>
                <td>Karen</td>
                <td>karen@example.com</td>
                <td>+45 1234 5678</td>
            </tr>
        </table>
    </div>
}
